body {margin: 0; padding: 0;} .cesium-infoBox-description {font-family: sans-serif; font-size: 13px; padding: 4px 10px; margin-right: 4px; color: #000;} .cesium-infoBox-description a:link, .cesium-infoBox-description a:visited, .cesium-infoBox-description a:hover, .cesium-infoBox-description a:active {color: #000000;} .cesium-infoBox-description table {color: #000000;} .cesium-infoBox-defaultTable {width: 100%; color: #000000;} .cesium-infoBox-defaultTable tr:nth-child(odd) {background-color: rgba(84, 84, 84, 0.9);} .cesium-infoBox-defaultTable tr:nth-child(even) {background-color: rgba(84, 84, 84, 0.25);} .cesium-infoBox-defaultTable th {font-weight: normal; padding: 3px; vertical-align: middle; text-align: center;} .cesium-infoBox-defaultTable td {padding: 3px; vertical-align: middle; text-align: left;} .cesium-infoBox-description-lighter {color: #000000;} .cesium-infoBox-description-lighter a:link, .cesium-infoBox-description-lighter a:visited, .cesium-infoBox-description-lighter a:hover, .cesium-infoBox-description-lighter a:active {color: #000000;} .cesium-infoBox-description-lighter table {color: #000000;} .cesium-infoBox-defaultTable-lighter {width: 100%; color: #000000;} .cesium-infoBox-defaultTable-lighter tr:nth-child(odd) {background-color: rgba(179, 179, 179, 0.9);} .cesium-infoBox-defaultTable-lighter tr:nth-child(even) {background-color: rgba(179, 179, 179, 0.25);}

body {
	background-color: transparent;
	margin:0;
	padding:0;
}

.cesium-infoBox-description{
	margin:0;
	padding:0;
}

.photographBalloon{
	height:310px;
	width:320px;
	margin:0;
	padding:0;
	background-color:transparent;
}


.photographImg{
	width:100%;
	margin:0;
	padding:0;
}

img{
	width:100%;
	margin:0;
	padding:0;
}

.photographDay{
	display:none;
}

.credit{
	color:#bbbbbb;
	font-size:10px;
	text-align: center;
}